JG.ZUT.TechLearning.DataTransmission/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JG.ZUT.TechLearning.DataTransmission/obj/Debug/JG.TechLearning.DataTransmission.csproj.FileListAbsolute.txt
JG.ZUT.TechLearning.DataTransmission/obj/Debug/JG.TechLearning.DataTransmission.csprojAssemblyReference.cache
JG.ZUT.TechLearning.DataTransmission/obj/Debug/JG.TechLearning.DataTransmission.exe
JG.ZUT.TechLearning.DataTransmission/obj/Debug/JG.TechLearning.DataTransmission.pdb
JG.ZUT.TechLearning.DataTransmission/obj/Debug/PTD.Lab01.csproj.CoreCompileInputs.cache
JG.ZUT.TechLearning.DataTransmission/obj/Debug/PTD.Lab01.csproj.FileListAbsolute.txt
JG.ZUT.TechLearning.DataTransmission/obj/Debug/PTD.Lab01.csprojAssemblyReference.cache
JG.ZUT.TechLearning.DataTransmission/obj/Debug/PTD.Lab01.exe
JG.ZUT.TechLearning.DataTransmission/obj/Debug/PTD.Lab01.pdb
JG.ZUT.TechLearning.DataTransmission/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JG.ZUT.TechLearning.DataTransmission/obj/x86/Debug/PTD.Lab01.csproj.CoreCompileInputs.cache
JG.ZUT.TechLearning.DataTransmission/obj/x86/Debug/PTD.Lab01.csproj.FileListAbsolute.txt
JG.ZUT.TechLearning.DataTransmission/obj/x86/Debug/PTD.Lab01.exe
JG.ZUT.TechLearning.DataTransmission/obj/x86/Debug/PTD.Lab01.pdb
JG.ZUT.TechLearning.DataTransmission/bin/Debug/JG.TechLearning.DataTransmission.exe
JG.ZUT.TechLearning.DataTransmission/bin/Debug/JG.TechLearning.DataTransmission.exe.config
JG.ZUT.TechLearning.DataTransmission/bin/Debug/JG.TechLearning.DataTransmission.pdb
JG.ZUT.TechLearning.DataTransmission/bin/Debug/Probki.xlsx
JG.ZUT.TechLearning.DataTransmission/bin/Debug/PTD.Lab01.exe
JG.ZUT.TechLearning.DataTransmission/bin/Debug/PTD.Lab01.exe.config
JG.ZUT.TechLearning.DataTransmission/bin/Debug/PTD.Lab01.pdb
JG.ZUT.TechLearning.DataTransmission/bin/x86/Debug/PTD.Lab01.exe
JG.ZUT.TechLearning.DataTransmission/bin/x86/Debug/PTD.Lab01.exe.config
JG.ZUT.TechLearning.DataTransmission/bin/x86/Debug/PTD.Lab01.pdb
JG.ZUT.TechLearning.DataTransmission/.vs/JG.TechLearning.DataTransmission/v16/.suo
JG.ZUT.TechLearning.DataTransmission/.vs/JG.TechLearning.DataTransmission/v16/Server/sqlite3/db.lock
JG.ZUT.TechLearning.DataTransmission/.vs/JG.TechLearning.DataTransmission/v16/Server/sqlite3/storage.ide
JG.ZUT.TechLearning.DataTransmission/.vs/JG.TechLearning.DataTransmission/v16/Server/sqlite3/storage.ide-shm
JG.ZUT.TechLearning.DataTransmission/.vs/JG.TechLearning.DataTransmission/v16/Server/sqlite3/storage.ide-wal
JG.ZUT.TechLearning.DataTransmission/.vs/PTD.Lab01/v16/.suo
JG.ZUT.TechLearning.DataTransmission/.vs/PTD.Lab01/v16/Server/sqlite3/db.lock
JG.ZUT.TechLearning.DataTransmission/.vs/PTD.Lab01/v16/Server/sqlite3/storage.ide
JG.ZUT.TechLearning.DataTransmission/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/.signature.p7s
JG.ZUT.TechLearning.DataTransmission/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/Microsoft.Office.Interop.Excel.15.0.4795.1000.nupkg
JG.ZUT.TechLearning.DataTransmission/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/lib/net20/Microsoft.Office.Interop.Excel.dll
